* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a3a660;
  --secondary-color: #f1f2ce;

  --third-color: #8c5e35;
  --fourth-color: #592d14;

  --fuente-heading: "SodoSans-Black";
}

html {
  box-sizing: border-box;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
#heading { 

  font-size: 2.2rem;
  color: var(--primary-color);
  font-family: "SodoSans-Black";
}
span { 
  color: var(--fourth-color);
  font-family: "SodoSans-Light";
} 
.heading-1 { 
 
  
    font-size: 2.5rem;
    font-family: "SodoSans-Black";
    color: var(--third-color);
    text-align: center;

   
}



.row { 

   display: flex;
   
   justify-content: center;
   text-align: center;

}

.collapse { 

   display: flex;
   justify-content: flex-end;
   font-size: 2rem;
   font-family: var(--fuente-heading);
   
   
  } 
  .nav-item { 
    font-size: 2rem;
    font-family: var(--fuente-heading);
    color: #a3a660;

  }
  

  

.nav-menu { 
  display: none;
}

hr { 
  width: 100%;


  padding: 5rem;
  color: var(--primary-color);
}

#logo-lapeninsula { 

  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

/* Style de hero*/
.hero{
  font-family: var(--fuente-heading);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url(./assets/385895864_188016790996697_4544315095629458020_n.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero h1{
  color: white;
  font-size: 3em;
}
.Text-var4{
  font-size: 1em;
  color: var(--primary-color);
  text-shadow: 1px 1px #592d14;
}
.hero p{
  color: white;
  font-size: 1.7em;
}
.hero button{
  background-color: var(--primary-color);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.hero button a{
  text-decoration: none;
  color: black;
}

main{
  font-family: "SodoSans-Black";
}

  /*style de la seccion del chef */

  .container-chef {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.text-chef {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
  
}

#profile-photo {
    width: 350px;
    height: 350px;
    border-radius: 250px;
    margin: 0 20px;
}

.text-chef h1 {
    color: var(--primary-color);
}

.text-chef p {
    color: var(--fourth-color);
}

.text-chef span {
    text-decoration: bold;
}


@media only screen and (max-width: 991px) {
    .container-chef {
        flex-direction: column;
        align-items: center;
        height: auto;
        
    }

    .text-chef {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 3rem;
        width: 100%;
    }

    #profile-photo {
        width: 250px;
        height: 250px;
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 525px) {
    #profile-photo {
        width: 200px;
        height: 200px;
        margin-top: 2rem;
   margin-bottom: 2rem;
    }

    .text-chef h1 {
        font-size: 1.5rem;
    }

    .text-chef p {
        font-size: 1rem;
    }
}


/*Servicios*/
.services-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
   margin-bottom: 2rem;
  width: 100%;
  height: 70vh;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services-card {
  width: 300px;
  height: 250px;
  margin: 20px; 
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px; 
}

.services-card h3 {
  font-weight: bolder;
  margin-top: 10px;
  font-size: 1.5rem; 
}

.services-card p {
  margin-top: 15px;
  font-size: 1rem; 
}



#uno,
#dos,
#tres {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
  ),
  url(./assets/386339689_884539863012099_2754825756536271712_n.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Responsive CSS using media queries */
@media only screen and (max-width: 768px) {
  .services-container {
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
   margin-bottom: 2rem;
    width: 100%;
    height: 85vh;
    
  }
  
  
  .services-card {
      height: auto;
      width: 60%; 
      
  }
}

@media only screen and (max-width: 576px) {
  .services-container {
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
    width: 100%;
    height: 100%;
   
  }
  
  
  
  .services-card {
   height: auto;
      width: 90%;
      

  }
}

/*Feedback, seccion 3*/
.feedback{
  width: 100%;
  height: 50vh;
  background-color: var(--secondary-color);
}

/*Reserva*/
.reserva{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  )
  ,url(./assets/WhatsApp\ Image\ 2023-10-31\ at\ 6.10.07\ PM.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.reserva h1{
  font-size: 4em;
  font-weight: bolder;
  color: white;
}
.reserva a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.reserva button{
  background-color: var(--primary-color);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}

@media only screen and ( max-width: 968px) {
 
  .reserva h1{
    font-size: 3em;
    font-weight: bolder;
    color: white;
  }

}

@media only screen and ( max-width: 525px) {
 
  .reserva h1{
    font-size: 2em;
    font-weight: bolder;
    color: white;
  }

}





/*se agrega galeria de imagenes*/
.secondary-cards{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.top-card{
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottom-card{
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card{
  width: 300px;
  height: 150px;
  background-color: #592d14;
  margin: 5px;
  object-fit: cover;
  overflow: hidden;
}
.card img{
  width: 100%;
  object-fit: cover;
 
  
}

@media only screen and (max-width: 768px ) {
  
  .secondary-cards  { 
   
   display: flex;
   align-items: flex;
   justify-content: center;
   width: 100%;
    height: 100%;
   padding: 0.5rem;
    

  }
   .top-card , .bottom-card { 

    width: 100%;
    height: 100%;

   }

}

/*mapa*/
.mapa{
  width: 100%;
  height: 45vh;
  background-color: var(--secondary-color);
  /*el background es temporal, debe quedar en blanco*/
}




/*form de contacto*/
.info-container{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-form form, .campo, textarea{
  width: 500px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
}
textarea{
  height: 120px;
  
}
.campo, textarea{
  border-radius: 5px;
  padding: 12px;
  border:  solid rgba(0, 0, 0, 0.1);
}
.btn-enviar{
  background-color: var(--primary-color);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}
.info{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
}





/*Footer*/
#footer {
   display: flex;
   align-items: center;
  
  background-color: var(--primary-color);

  padding: 1rem;

}



.icons {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
 
  transition: all 0.5s ease;
  background-color: var(--primary-color);
    
}

.icons:hover { 

  height: 50px;
  width: 50px;
}


@media only screen and (max-width: 991px ){ 
  #logo-lapeninsula { 

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
   #heading { 

     font-size: 1.7rem;
   }
   span { 
   
   
    font-size: 1.5rem;
   }
    
.nav-menu { 

    
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 15px;
     box-sizing: border-box;
     background-color: var(--secondary-color);  
   
     
}  
.nav-burger-menu { 
   list-style: none; 
 
 

}  
    
 

   .menu-links { 
       font-size: 1.9em;
       font-family: "SodoSans-Black";
        color: var(--fourth-color);      
          padding: 18px;
         text-decoration: none;
         display: flex;
        justify-content: center;
         align-items: center;
         text-align: center;
         


   }
    
}

@media only screen and (max-width: 525px ) { 
  #logo-lapeninsula { 

    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  #heading { 

    font-size: 1.2rem;
  }
   span { 
    font-size: 1rem;
   }
};


@media only screen and (max-width: 991px) {
  #column-main-photo { 

    text-align: center;
  
   
      
   }
   
}

#button:hover { 

  font-size: 19px;
  color: #f1f2ce;
  
  font-family: var(--fuente-heading);
  background-color: var(--third-color);
}



/* boton para desplazarse-hacia-arriba */
.desplazarse-hacia-arriba {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
  padding: 2rem;
  
}

.socicon {
  width: 2rem;
  height: 2rem;
  background-color: white;
  box-shadow: 1px 1px 1px;
  border-radius: 10px 10px 10px;
  
}





.carousel-container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
   margin-bottom: 5rem;
   gap: 2rem;
   background-color: var(--primary-color);
  
}

.slide {
  flex: 0 0 33.33%; /* 33.33% para mostrar tres imágenes a la vez */
  box-sizing: border-box;
   
  

}

.slide img {
  width: 25em;
  height: 25em;
  border-radius: 10px;
  background-color: var(--primary-color);
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

