* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #a3a660;
  --secondary-color: #f1f2ce;

  --third-color: #8c5e35;
  --fourth-color: #592d14;
}

html {
  box-sizing: border-box;
  background-color: #ffffff;
}

nav { 

   display: flex;
   align-items: center;

}
